main {
  background-color: salmon;
  color: rgb(16, 94, 38);
  color: rgb(11, 11, 69);
  color: rgb(70, 0, 75);
}

table {
  border-collapse: collapse;
}

th, td {
  width: 80px;
  text-align: left;
  border: 1px solid black;
  padding: 5px;
}

th {
  height: 80px;
}

input {
  color: red;
  width: 250px;
  display: block;
  margin-bottom: 20px;
}
